* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  background: #23424A;
  color: white;
}

.container {
  max-width: 75%;
  width: 75%;
  padding: 6rem;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin: 1.25rem 0;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
  margin: 1.25rem 0;
}

button {
  text-transform: uppercase;
  background: #38CFD9;
  border: 0;
  border-radius: 100px;
  padding: 1em;
  width: 13em;
  color: #072A2D;
  font-weight: 700;
  font-size: 1.3em;
  margin: 2em 0;
}

button:hover {
  opacity: 75%;
  cursor: pointer;
}